/*
 * Colours
 */

$red: #ff0022;
$green: #00aa11;
$blue: #009cec;
$blue-hover: #008cd4;

$grey-superlight: #f8f8f8;
$grey-light: #dfdfdf;
$grey-dark: #999;
$text: #444;
$border: #e5e5e5;
$shadow: #bbb;

/*
 * SCSS (Compass) Mixins 
 */

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin box-shadow() {
	box-shadow: 3px 2px 20px $shadow;
}
@mixin input() {
	font-size: 1rem;
	color: $grey-dark;
	border: 1px solid $border;
	border-radius: 5px;
	padding: 0 0 0 1rem;
	height: 2rem;
	width: calc(100% - 1rem);
	-webkit-box-shadow:inset 0 0 1px $shadow;
       -moz-box-shadow:inset 0 0 1px $shadow;
            box-shadow:inset 0 0 1px $shadow;

    background: transparent;
}

/*
 * Overrides
 */
body {
	margin: 0;
	padding: 0;
	background: $grey-superlight;
	font-size: 16px;
}
body,
h1, h2, h3, h4, h5, h6,
p {
	font-family: "Varela Round", sans-serif;
}
p.center {
	text-align: center;
}
h4 {
	font-size: 1.2rem;
	text-transform: uppercase;
}
a,
a:link,
a:visited {
	color: $blue;
	font-weight: bold;
}
a:hover,
a:active {
	color: $blue-hover;
}
.row {
	margin-bottom: 1.5rem;
}
.column, 
.columns {
	padding-left: 0;
}
@media print, screen and (min-width: 40em) {
	.columns:last-child:not(:first-child) {
		float: left;
	}
	aside,
	main {
		max-width: 800px;
	}
}
@media print, screen and (min-width: 63em) {
	aside {
		max-width: 600px;
	}
	main {
		max-width: 800px;
	}
}
.box {
	background: #fff;
	color: $text;
	@include box-shadow();
	padding: 4rem;
	margin: 2rem auto;
	max-width: 800px;
}
aside .box {
	background: $grey-superlight;
}
.side-wrap p,
.side-wrap ul {
	font-size: 1rem;
	color: $text;
	line-height: 1.3rem;
}

/*
 * Custom Classes
 */

.relative {
	position: relative;
}
.centered {
	margin: auto;
	max-width: 1200px;
}


/* Forms */
[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
	margin: 0 0 0.3rem;
}
label {
	color: $text;
	margin-bottom: 0.4rem;
}
label.is-invalid {
	color: $red;
}
input {
	@include input();
}
input[type=color] {
	width: 100px;
	height: 100px;
}
textarea {
	height: 5rem;
	padding-top: 0.5rem;
}
select, input {
	height: 2.4375rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #999;
	font-size: 0.8rem;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #999;
	font-size: 0.8rem;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #999;
	font-size: 0.8rem;
}
:-moz-placeholder { /* Firefox 18- */
	color: #999;
	font-size: 0.8rem;
}

/* Icons */
.hide {
	display: none;
}
.icon.validation {
	width: 13px;
	height: 13px;
	position: absolute;
	top: -5px;
	right: -5px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	font-size: 0.4rem;
	text-align: center;
	line-height: 0.9rem;
	color: #fff;
}
.icon.success {
	background: $green;
}
.icon.error {
	background: $red;
}
.success {
	color: $green;
}

/* Fields */
.input-wrap.is-invalid {
	input, select, textarea {
		border: 1px solid $red;
	}
}


/* Helper/Error */
.is-helpful {
	color: $grey-dark;
	font-size: 0.8rem;	
	margin-top: 0.5rem;
}
.is-helpful.error-message {
	color: $red;
}
